<section class="login-form">
    <div class="login-page">
        <h1 class="heading-centre">Sign Up</h1>
        <div class="line"></div>

        <form method="POST" action="/sign-up">
            <div class="form-element">
                <label for="firstName">
                    Your First Name
                </label>
                <div>
                    <input type="text" name="firstName" id="firstName" placeholder="Enter your First Name" value="{{value.firstName}}"
                    {{#if errormessage.firstName }}
                        class="input-error"
                    {{/if}}
                    >
                </div>
                <div class="error-message">
                    {{errormessage.firstName}}
                </div>
            </div>



            <div class="form-element">
                <label for="lastName">
                    Your Last Name
                </label>
                <div>
                    <input type="text" name="lastName" id="lastName" placeholder="Enter your Last Name" value="{{value.lastName}}"
                    {{#if errormessage.lastName }}
                        class="input-error"
                    {{/if}}
                    >
                </div>
                <div class="error-message">
                    {{errormessage.lastName}}
                </div>
                
            </div>




            <div class="form-element">
                <label for="email">
                    Email
                </label>
                <div>
                    <input type="text" name="email" id="email" placeholder="Enter your Email" value="{{value.email}}"
                    {{#if errormessage.email }}
                        class="input-error"
                    {{/if}}
                    >
                </div>
                <div class="error-message">
                    {{errormessage.email}}
                </div>
            </div>


            <div class="form-element">
                <label for="password">
                    Password
                </label>
                <div>
                    <input type="password" name="password" id="password" placeholder=" Enter Password" value="{{value.password}}"
                    {{#if errormessage.password }}
                        class="input-error"
                    {{/if}}
                    >
                </div>
                <div class="error-message">
                     {{errormessage.password}}
                </div>
            </div>


            <div class="form-element">
                <label for="password">
                    Repeat Password
                </label>
                <div>
                    <input type="password" name="repassword" id="repassword" placeholder=" Reenter  your Password" value="{{value.repassword}}"
                    {{#if errormessage.repassword }}
                        class="input-error"
                    {{/if}}
                    >
                </div>
                <div class="error-message">
                    {{errormessage.repassword}}
                </div>
                
            </div>


            <div class="form-element">
                <div>
                    <input class="submit-button" type="Submit" value="Submit">
                </div>
            </div>
        </form>
        <div class="bottom-section">
            <h4>Already Have Account </h4>
            <a href="/login">Sign In</a>
        </div>
    </div>

</section>