<section>
    <h1 class="heading">Cart</h1>
    {{#each data}}
    <div class="description-container">
        <img class="cart-image" src="/uploads/{{this.image}}">
        <article>
            <h4>{{this.name}}</h4>
            <h4>{{thid.description}}</h4>
            <h4>Price Per Product :{{this.price}}</h4>
            <h4>Quantity :{{this.quantity}}</h4>
        </article>
    </div>
    {{/each}}
    <h3 class="amount">{{amount}}</h3>

    <form method="POST" action="/product/cart">
    <div class="amount"> 
        <button class = "order-button"type="submit">Place a Order</button>
    </div>
    </form>
</section>